# these should not be world writable
/dev/input/*              0660   root       input
# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
# Sensorhub IIO
/dev/ssp_sensorhub        0660   system     system
/dev/iio:device*          0660   system  system
/sys/devices/f9923000.spi/spi_master/spi0/spi0.0/iio:device*    buffer/enable       0660    system    system
/sys/devices/f9923000.spi/spi_master/spi0/spi0.0/iio:device*    buffer/length       0660    system    system
/sys/bus/iio/devices/iio:device*    0664   system     radio


/dev/ion                  0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/rtc0                 0660   system     system
